<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My First React App</title>
  </head>
  <body>
    <div id="root"></div>

    <!-- REACT -->
    <script src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
    <script>
      function App() {
        const [name, setName] = React.useState('joe')

        const reactHElloElement = React.createElement('h1', null, name)
        const reactElement = React.createElement(
          'div',
          {
            onClick: () => setName('Destin'),
          },
          reactHElloElement
        )

        return reactElement
      }

      ReactDOM.render(React.createElement(App, null), document.querySelector('#root'))
    </script>
  </body>
</html>
